<footer>
    <div class="footer">
        <div class="container">
            <div class="flex-outer">
                <div class="flex-inner">
                    <a class="brand" routerLink="/">Pkmn Sword Manager</a>
                </div>

                <div class="flex-inner footer-right">
                    <a routerLink="/">Uncaught</a>
                    <a class="footer-links" routerLink="/">Compeitive</a>
                    <!-- <i class="upArrowBtn fas fa-arrow-up" (click)="scrollToTop()"></i> -->
                </div>
            </div>
        </div>
      </div>
</footer>
