<header>
    <div class="header-main">
        <div class="container">

            <img class="header-title-img" src="../../../assets/images/pokeball-icon-transparent-5.jpg">
            
            <div class="header-inner">
                <a class="brand" routerLink="/">
                    <p class="site-title"> Pkmn Sword Manager</p>
                </a>
            </div>
            <nav class="header-inner">
                <a routerLink="uncaught">Uncaught</a>
                <a routerLink="compeitive">Compeitive</a>
            </nav>
        </div>
    </div>

    <div class="sub-header">
        <div class="container">
            <span class="page-name-title">Page Name</span>
        </div>
    </div>
</header>