@import '../../../variables.scss';

.umbreon-img {
    margin-top: -1em;
    width:75px;
}

.home-page-body-img {
    max-width: 300px;
    width: auto;
}

.home-img-icon {
    width: 50px;
    margin-left: 1em;
    margin-right: 1em;
}

.flex-item > p:nth-child(2n + 2) {
    color: $brand-pink
}



