<div class="container">
    <div class="home-title">
        <h1 class="center-text">Welcome</h1>
    </div>

    <div class="flex-container c-eighty">
        <div class="flex-item">
            <img class="home-page-body-img"src="../../../assets/images/home-body-organize.png">
        </div>
        <div class="flex-item">
            <p>This site enables you to organize your Pokemon Sword/Sheild data.</p>
            <ul class="list-no-padding">
                <li>Organize your pokedex</li>
                <li>Build compeitive teams</li>
                <li>Discuss compeitive tactics</li>
                <li>Organize desired shiny pokemon</li>
                <li>Set up trades</li>
            </ul>
            <p>Scroll down for more information on each feature :-)</p>
        </div>
    </div>

    <div class="flex-container c-eighty">
        <div class="flex-item flex-center-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quam id leo in vitae turpis massa sed. At quis risus sed vulputate odio. Cursus mattis molestie a iaculis at erat. Turpis massa sed elementum tempus egestas sed sed risus. Sed risus pretium quam vulputate dignissim suspendisse in est ante. At urna condimentum mattis pellentesque. Venenatis cras sed felis eget velit. Massa ultricies mi quis hendrerit. Facilisis volutpat est velit egestas dui id ornare arcu odio. Quis enim lobortis scelerisque fermentum dui faucibus. Feugiat in ante metus dictum at tempor. Neque ornare aenean euismod elementum nisi quis eleifend. Auctor eu augue ut lectus. Rutrum tellus pellentesque eu tincidunt tortor aliquam nulla. Lacus sed viverra tellus in.</p>
        </div>
    </div>

    <mat-divider class="m-top-1em"></mat-divider>

    <div class="flex-container flex-center-content m-tb-2em">
        <div class="flex-item">
            <h2>Catch em all</h2>
        </div>
        <div class="flex-item">
            <img class="home-img-icon" src="../../../assets/images/pokeball-home.png">
        </div>
    </div>

    <div class="flex-container c-eighty">
        <div class="flex-item">
            <p>Help yourself reach the ultimate goal of completing the Galar pokedex!</p>
            <p>Enter and save data about the pokemon you need</p>
            <p>Save the areas where pokemon can be found</p>
            <p>Once caught, remove them from the list table</p>
        </div>
        <div class="flex-item flex-center-content">
            <img class="home-page-body-img" src="../../../assets/images/pd-home.png">
        </div>
    </div>

    <mat-divider class="m-top-1em"></mat-divider>

    <div class="flex-container flex-center-content m-tb-2em">
        <div class="flex-item flex-right">
            <h2>Build the ultimate teams</h2>
        </div>
        <div class="flex-item">
            <img class="home-img-icon" src="../../../assets/images/pokeball-home.png">
        </div>
    </div>
    <div class="flex-container c-eighty">
        <div class="flex-item flex-center-content">
            <img class="home-page-body-img" src="../../../assets/images/trophy-ribbon-gold-winner-512.png">
        </div>
        <div class="flex-item">
            <p>Plan and build multiple teams</p>
            <p>Organize your pokemon for compietive battles</p>
            <p>Pick natures, abilities, and moves</p>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="flex-container flex-center-content m-tb-2em">
        <div class="flex-item">
            <h2>Hunt for shinys</h2>
        </div>
        <div class="flex-item">
            <img class="home-img-icon" src="../../../assets/images/pokeball-home.png">
        </div>
    </div>
    <div class="flex-container c-eighty">
        <div class="flex-item">
            <p>Store your favorite</p>
            <p>Enter and save data about the pokemon you need</p>
            <p>Save the areas where pokemon can be found</p>
            <p>Once caught, remove them from the list table</p>
        </div>
        <div class="flex-item flex-center-content">
            <img class="home-page-body-img" src="../../../assets/images/star-home.png">
        </div>
    </div>
</div>